.g1-color {
    color: #c4160c;
  }
  
  .o-globo-color {
    color: #1e4b9b;
  }
  
  .valor-color {
    color: #006766;
  }
  
  .ge-color {
    color: #07aa47;
  }
  
  .cartola-color {
    color: #e3662b;
  }
  
  .globoplay-color {
    color: #fb0735;
  }
  
  .dropz-color {
    color: #ff75bb;
  }
  
  .gshow-color {
    color: #ec7d00;
  }
  
  .quem-color {
    color: #323333;
  }
  
  .receitas-color {
    color: #a81d83;
  }
  
  .materia-secundaria-color {
    color: #303134;
  }
  